.selling-form{
    border : 10px solid black;
    margin: 100px;
    border-radius: 20px;
    text-align:center;
    height : fit-content;

}
.selling-form .Product-info i{
    height : 10px;
    margin: 1px;
}

h3{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}


.selling-form input{
    width: 50%;
    padding : 15px;
    outline: none;
    border : none;
    border-bottom: 2px solid black;
}

.selling-form input[type = "file"]{
    margin-left: 25%;
    margin-top: 10px;
    border: none;
}
button{
    margin : 10px;
    background-color:black;
    color: white;
    padding : 10px 40px;
    cursor: pointer;
    font-size : 20px;

}

.footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-column {
    width: 30%;
    margin: 10px;
}

.footer-column h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin: 10px ;
}

.footer-column ul li {
    color: white;
    text-decoration: none;
}

.footer-column p {
    margin-top: 10px;
}

